<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot 2 DEMO</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

</head>
<body>
    <div align="center">
        <div class="container my-2">
            <div style="height: 64px"></div>
            <h1>Spring Boot 2 DEMO - Main menu</h1>
            <div style="height: 64px"></div>
            <ul class="list-group">
                <li class="list-group-item"><a href="employees">Employees list</a></li>
                <li class="list-group-item"><a href="">SB2 - Feature X</a></li>
                <li class="list-group-item"><a href="http://localhost:8080/actuator/example">Actuator Example</a></li>
            </ul>
        </div>
        <a href="logout">LOGOUT</a>
    </div>
</body>
</html>
